.footer {
    background-color: $color-dark-grey-3;


    &__top{

        padding: 9rem 10rem 5rem 10rem;
        @include respond(tab-port) {
            padding-top: 8rem;
        }
        @include respond (tab-small) {
            padding: 7rem 5rem 3rem 5rem;
        }
        
        
    }

    &__logo-box {
        flex: 0 1 100%;
        text-align: center;
        margin-bottom: 3rem;

        
    }

    &__col {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-right: 1rem;


        @include respond (tab-small) {
            padding: 1rem;
            flex-flow: row wrap;
            width: 100%;

            & > div {
                flex: 0 1 45%;
                margin-bottom: 2rem;
            }

            &--pages,
            &--cust-services {
                text-align: right;
                margin-right: .5rem;
            }

           
        }

        @include respond(sm-phone) {
            flex-flow: column;
            align-items: center;
            text-align: center;
            
            &--pages,
            &--cust-services {
                text-align: center;
            }
        }

        &--credentials {
           flex: 0 1 30%;
           
        }

        &--pages {
           
        }

        &--logo {
            align-self: center;
        }

        &--services {
          
        }

        
        
        

    }

    

    &__heading {
        color: $color-secondary;
        font-size: 2rem;

        @include respond (tab-small) {
            margin-bottom: .3rem;           
        }
    }

    & .col p {
        width: 90%;
        font-size: 1.3rem;

        @include respond (tab-small) {
            width: 60%;          
        }
        
    }

    &__list {
        list-style: none;
        
    }

    &__link {
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            transition: all .2s;
        }
        &:hover{
            color: $color-secondary;
        }

    }
    &__bottom {
      
        background-color: $color-black;
       
       & > p{
        
        margin-left: 10rem;
        @include respond (tab-small) {
            margin-left: 0;
            text-align: center;
        }
          
       }
    }
}