.footer {
    background-color: $color-dark-grey-3;

    &__top{
        padding: 10rem 10rem 5rem 10rem;
        display: flex;
        justify-content: space-around;

        @include respond (tab-small) {
            flex-flow: column;
        }
        
    }

    &__logo-box {
        margin-bottom: 5rem;     
        
        @include respond (tab-small) {
            display: flex;
            justify-content: center;   
        }
    }

    & .col {
        flex: 0 1 23%;
        margin-right: 1rem;

        &:not(:last-child){
            margin-bottom: 2rem;
        }

    }

    

    &__heading {
        color: $color-secondary;
        font-size: 1.5rem;

        @include respond (tab-small) {
            margin-bottom: .3rem;           
        }
    }

    & .col p {
        width: 90%;
        font-size: 1.3rem;

        @include respond (tab-small) {
            width: 60%;          
        }
        
    }

    &__list {
        list-style: none;
        
    }

    &__link {
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            transition: all .2s;
        }
        &:hover{
            color: $color-secondary;
        }

    }
    &__bottom {
      
        background-color: $color-black;
       
       & > p{
        
        margin-left: 10rem;
        @include respond (tab-small) {
            margin-left: 0;
            text-align: center;
        }
          
       }
    }
}