.header {
    position: relative;

    &__background {
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
        overflow: hidden;

    }

    &__box {
        position: absolute;
       top: 60%;
       left: 50%;
       transform: translate(-50%, -50%);
        width: 90vw;

        @include respond (tab-port) {
            top: 50%;
            width: 100vw;
        }
        @include respond (tab-small) {
            top: 60%;
        }
        @include respond (phone) {
            top: 50%;
        }
    }
    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        @include respond (tab-small) {
            flex-flow: column;
            align-items: center;
            text-align: center;
        }
        
    }

    &__text-box {
        @include respond (tab-land) {
            padding-top: 5rem;
        }
    }

    &__product-box {
        position: relative;
        top: 10rem;
        flex: 0 1 40%;
        display: flex;
        justify-content: center;

        @include respond (tab-mid){
            flex: 0 1 25%;
        }
        @include respond (tab-small) {
            width: 30rem;
        }
        @include respond (phone) {
            width: 25rem;
        }
    }

    &__product-img{
        
    }
}