.navigation {
    padding: 0 5rem;
    position: absolute;
    width: 100vw;
    top: 0;
    &__icon {
        width: 5rem;
        height: 5rem;
    }
    &__nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__container {
        &--left {
            display: flex;
            justify-content: space-between;
        }
        &--right {
            @include respond (tab-port) {
                display: none;
            }
        }
    }
    &__logo-box {
        margin: 1rem
    }
    &__logo {}
    
    &__list {
        list-style: none;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 .1rem .1rem $color-black;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @include respond (tab-port) {
            display: none;
        }
    }
    &__item {
        margin-right: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            color: $color-white;
            padding: 1rem;
            transition: .3s;
        }
        &:hover {
            color: $color-secondary;
        }
        &-contact {
            &:hover {
                color: $color-white;
            }
        }
    }
    &__mobile {
        display: none;
        fill: $color-secondary;
        @include respond (tab-port) {
            display: inline-block;
        }
        &--button {
            border: none;
            background-color: transparent;
            margin-right: .5rem;
            
        }
    }
}