.sidebar {
        position: relative;
        width: 40vw;
        background-color: $color-dark-grey-3;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;

        @include respond (phone) {
            width: 50vw;
        }

        @include respond (sm-phone) {
            width: 100vw;
        }

        &__icon {
            height: 3rem;
            width: 3rem;
        }

        &__close {
            border: none;
            fill: $color-light-grey-3;
            background-color: transparent;
            margin-right: .5rem;
            position: absolute;
            top: .5rem;
            right: .5rem;
            
        }

        &__nav {
            width: 100%;
            
        }
        
        &__item {
            
            background-color: $color-light-grey-2;
            height: 8rem;
            text-align: right;
            border-bottom: .6rem solid $color-secondary;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            
        
            &:not(:last-child) {
                margin-bottom: 3rem;
          }
          &:hover > .sidebar__link {
              &:link,
              &:visited {
                color: $color-secondary;
            }

            
          }
          
        }
        &__item:hover::before,
        &__item--active::before {
            transform: scaleY(1);
            width: 100%;

            
            // color: $color-light-grey-2;
        }
        &__item::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 3px;
            background-color: $color-primary;
            
            
            transform: scaleY(0);
            transform-origin: center;
            transition: transform .2s,
            width .3s cubic-bezier(0,1.18,.89,.99) .2s;

            
        }
        

        &__link {
            
            &:link,
            &:visited,
             {
                font-size: 2rem;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-primary;
                position: relative;
                z-index: 10;
                height: 4rem;
                margin-right: 2rem;


                
            }

            

        }
       
    }