<!DOCTYPE html>
<html ⚡ lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Air One Systems | Home </title>
    <link rel="canonical" href="/regular-html-version.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "NewsArticle",
          "headline": "Open-source framework for publishing content",
          "datePublished": "2015-10-07T12:02:41Z",
          "image": [
            "logo.jpg"
          ]
        }
      </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
</head>
<body>

    <amp-sidebar id="sidebar-right" layout="nodisplay" side="right" class="sidebar">

        <button class="sidebar__close" on="tap:sidebar-right.close" class="ampstart-btn" role="button">
            <svg class="sidebar__icon">
                <use xlink:href="../img/sprite.svg#icon-cross"></use>
            </svg>
        </button>
        <nav class="sidebar__nav">

            <ul class="sidebar__nav">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Home</a>
                </li>


                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Services </a>

                </li>


                <ul class="sidebar__services">
                    <li class="sidebar__services--item">
                        <a href="#" class="sidebar__services--link">Repairs &amp; Emergencey</a>

                    </li>
                    <li class="sidebar__services--item">
                        <a href="#" class="sidebar__services--link">Indoor Air Quality</a>

                    </li>
                    <li class="sidebar__services--item">
                        <a href="#" class="sidebar__services--link">Ductless Split Systems</a>

                    </li>
                    <li class="sidebar__services--item">
                        <a href="#" class="sidebar__services--link">Maintenance &amp; Service Agreements</a>

                    </li>
                </ul>

                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Multi-Family</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="sidebar__logo-box">
            <amp-img src="img/air-one-logo-white.jpg" alt="Air One Systems Logo" class="sidebar__logo" width="205" height="80"></amp-img>
        </div>
    </amp-sidebar>

    <div class="navigation">
        <nav class="navigation__nav">
            <div class="navigation__container--left">
                <div class="navigation__logo-box">
                    <a href="#" class="navigation__logo">
                        <amp-img src="/img/AirONeLogoBlack.png" alt="Air One Systems Logo" class="logo" width="205" height="80"></amp-img>
                    </a>
                </div>
            </div>
            <div class="navigation__mobile">
                <button class="navigation__mobile--button" on="tap:sidebar-right.toggle" class="ampstart-btn" role="button">
                    <svg class="navigation__icon">
                        <use xlink:href="img/sprite.svg#icon-menu"></use>
                    </svg>
                </button>

            </div>
            <div class="navigation__container--right">

                <div class="navigation__phone-box">
                    <p class="navigation__phone-box--number">(678)963-0111</p>
                </div>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="../index.html" class="navigation__link">Home</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Services</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Multi-Family</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="btn btn--blue">Contact Us</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <header class="header header-services">

        <!-- <amp-img class="header__background" id="cardImage" width="100" height="2000" layout="responsive" src="../img/goodmanWarehouse.jpg"
            alt="Picture of man repairing air conditioner outside."></amp-img> -->
            <div class="header__content">
                <div class="header__text-box">
                    <div class="heading-primary">
                        <h1 class="heading-primary--main">Services</h1>
                    </div>
                </div>
            </div>
        
    </header>
    <main>
        <section class="section-detail-services">
            <div class="detail-services__content">
                <div class="detail-services__content--left">
                    <h1 class="heading-tertiary">Are You Ready To Get a True Professional to Help You?</h1>
                    <p class="paragraph">
                        Replace this content with your own content. Content should be relevant, unique and written with the goal of providing the
                        reader the type of information they are looking for while motivationg them to take actions. It's
                        also important to make sure your content has good usage of SEO rich keywords but written in a creative,
                        reader friendly way. Remember, your website is your 24/7 sales person. It never calls in sick, can
                        sell an unlimited number of poeple at the same time with the exact same, perfect pitch. Therefore,
                        putting time into writing strong content is key to your digital success.
                    </p>
                    
                    <amp-img src="../img/familyProd.png" alt="Goodman family products" class="detail-services__image" width="500" height="360" ></amp-img>
                </div>
                <div class="detail-services__content--right">
                    <div class="service-square">
                        <a href="#" class="service-square__link">
                        <amp-img class="service-square__img" src="../img/serv1.jpg" alt="Goodman family products" width="200" height="150"  layout="intrinsic"></amp-img>
                        <p class="service-square__caption paragraph--light">Maintenance &amp;</br> Service Agreements</p>
                        
                            <p  class="paragraph--light service-square__learn-more">Learn More</p>
                        </a>
                    </div>
                    <div class="service-square">
                            <a href="#" class=" service-square__link">
                        <amp-img src="../img/serv2.jpg" alt="Goodman family products" width="200" height="150" class="service-square__img"  layout="intrinsic"></amp-img>
                        <p class="service-square__caption paragraph--light">Ductless Split Systems</p>
                        
                        <p  class="paragraph--light service-square__learn-more">Learn More</p>
                        </a>
                        
                    </div>
                    <div class="service-square">
                            <a href="#" class="service-square__link">
                        <amp-img src="../img/serv3.jpg" alt="Goodman family products" width="200" height="150" class="service-square__img"  layout="intrinsic"></amp-img>
                        <p class="service-square__caption paragraph--light">Repair &amp;</br> Emergency Services</p>
                       
                        <p  class="paragraph--light service-square__learn-more">Learn More</p>
                            </a>
                            
                        
                    </div>
                    <div class="service-square">
                            <a href="#" class="service-square__link">
                        <amp-img src="../img/family1.jpg" alt="Goodman family products" width="200" height="150" class="service-square__img"  layout="intrinsic"></amp-img>
                        <p class="service-square__caption paragraph--light">Indoor Air Quality</p>
                       
                        <p  class="paragraph--light service-square__learn-more">Learn More</p>
                            </a>
                        
                    </div>
                </div>
            </div>
            
        </section>



        <section class="section-get-started">
            <div class="get-started">
                <div class="get-started__content">
                    <div class="get-started__content--text">
                        <h1 class="heading-secondary">Get Started</h1>
                        <p class="paragraph paragraph--light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et leo condimentum, mollis velit interdum, congue quam. Etiam
                            molestie egestas quam. Vivamus maximus viverra pellentesque. Donec auctor enim sed dictum semper.
                            Integer id sem ut tortor scelerisque luctus. Etiam tortor eros, interdum in luctus quis, viverra
                            vitae tellus
                        </p>
                        <ul class="get-started__content--contact-list">
                            <li class="get-started__content--contact-item">
                                <svg class="get-started__content--icon">
                                    <use xlink:href="../img/sprite.svg#icon-phone"></use>
                                </svg>
                                <span class="paragraph paragraph--light">(678) 963-0111</span>
                            </li>
                            <li class="get-started__content--contact-item">
                                <svg class="get-started__content--icon">
                                    <use xlink:href="../img/sprite.svg#icon-mail"></use>
                                </svg>
                                <span class="paragraph paragraph--light">INFO@AIRONELLC.COM
                                    </>
                            </li>
                            <li class="get-started__content--contact-item">
                                <svg class="get-started__content--icon">
                                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                                </svg>
                                <span class="paragraph paragraph--light">1530 UNIVERSITY DR, </br>AUBURN, GA 30011</span>
                            </li>



                        </ul>
                    </div>
                    <div class="get-started__content--form">
                        <form action="email-form.php" class="form">
                            <input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT,AUTH_TYPE,REMOTE_USER">
                            <input type="hidden" name="recipients" value="contact_*_websitegenii.com">
                            <input type="hidden" name="required" value="EmailAddr: Your email address, FullName: Your Name, number: Your Phone Number, message: Your message">
                            <input type="hidden" name="derived_fields" value="realname=Fullname">
                            <input type="hidden" name="subject" value="realname messaged you from your website">
                            <input type="hidden" name="mail_options" value="AlwaysList, CharSet=UTF-8, FromLineStyle: NameRouteAddr">
                            <input type="hidden" name="autorespond" value="Subject=Thanks for contacting Air One Systems LLC, 
                                                                                FromAddr=contact_*_websitegenii.com,
                                                                                plainFile=contactResponse.txt">
                            <input type="hidden" name="alert_to" value="contact_*_websitegenii.com">
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Full Name" id="name" name="Fullname">
                                <label for="name" class="form__label">Full Name</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Email" id="email" name="email">
                                <label for="email" class="form__label">Email</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Phone Number" id="number" name="number">
                                <label for="number" class="form__label">Phone Number</label>
                            </div>
                            <div class="form__group">
                                <textarea type="text" class="form__input" placeholder="Message" id="message"></textarea>
                                <label for="message" class="form__label">Message</label>
                            </div>
                            <div class="form__group">
                                <button class="btn btn--gold">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__top">

            <div class="col">
                <div class="footer__logo-box">
                    <amp-img src="../img/air-one-logo-white.jpg" alt="Air One Systems Logo" class="footer__logo" width="150" height="60"></amp-img>
                </div>

                <ul class="footer__list">
                    <li class="footer__item">
                        <h1 class="footer__heading ">Credentials</h1>
                    </li>
                    <li class="footer__item">
                        <p class="paragraph paragraph--light">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo corrupti alias sed! Error numquam iusto soluta, perferendis
                            fugiat et accusantium,
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h1 class="footer__heading ">Pages</h1>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Home</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Multi-Family</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h1 class="footer__heading ">Services</h1>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Repairs and Emergencey</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Indoor Air Quality</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Ductless Split Systems</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Maintenance &amp; Service Agreements</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h1 class="footer__heading ">Customer Service</h1>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Quotes</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Coupons &amp; Specials</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link paragraph paragraph--light">Employment Opportunities</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer__bottom">
            <p class="paragraph--light paragraph">
                Website by Website Genii, LLC. | Air One Systems LLC 2018 &copy;
            </p>
        </div>
    </footer>

</body>
</html>