.card {
      position: relative;
      @include respond (tab-small) {
            flex: 0 1 50%;
            margin-bottom: 8rem;
      }
      @include respond (lg-phone){
            margin-bottom: 11rem;
      }
      @include respond (phone) {
            flex: 0 1 100%;
      }
      @include respond (sm-phone) {
            margin-bottom: 15rem;
      }
      &__title {
            font-size: 2rem;
            color: $color-white;
            width: 13rem;
            text-transform: uppercase;
            margin: 0 auto;
            transition: all .3s;
            margin-bottom: 1rem;
            @include respond (phone) {
                  width: 80%;
            }
      }
      &__circle {
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            box-shadow: 0 1rem 1rem $color-black;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      &__icon {
            fill: $color-secondary;
            width: 8rem;
            transition: all .4s;
            margin: 0 auto;
      }
      &__text {
            @include absCenter;
            transform: translate(-50%, -30%);
            padding: 2rem;
            opacity: 0;
            transition: all .4s .1s;
            width: 100%;
            height: 15rem;
            color: $color-light-grey-2;
            @include respond (phone) {
                  width: 90%;
            }
      }
      &__caption {
            @include absCenter;
            transform: translate(-50%, -200%);
            color: $color-white;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            opacity: 0;
            transition: all .4s;
            width: 13rem;
      }
      &:hover &__title {
            opacity: 0;
      }
      &:hover &__title,
      &:hover &__icon {
            transform: translateY(130%);
            opacity: 0;
      }
      &:hover &__caption {
            opacity: 1;
            transform: translate(-50%, -50%);
      }
      &:hover &__text {
            opacity: 1;
            transform: translate(-50%, 100%);
            @include respond (phone) {
                  transform: translate(-50%, 85%)
            }
      }
      &:hover &__img {
            filter: blur(3px) brightness(50%);
      }
      //----------------no hover query------------------------//
      @media only screen and (hover: none) {
            @include respond (lg-phone) {
                  margin-bottom: 12rem;
            }
            @include respond (sm-phone) {
                  margin-bottom: 15rem;
            }
            &__text {
                  opacity: 1;
                  transform: translate(-50%, 100%); // @include respond (tab-small) {
                  // transform: translate(-50%, 160%);
                  // }
                  @include respond (phone) {
                        transform: translate(-50%, 85%);
                  }
            }
      }
}