.composition {
    display: flex;
    justify-content: center;
    

    @include respond (tab-mid) {
        width: 50vw;
    }

    @include respond (phone) {
        margin-top: 3rem;
        width: 80vw;
    }

    &__photo {
        width: 80%;
        text-align: center;
    }
}