.quality{
    
    &__text {
        flex: 0 1 48%;
        
        @include respond (tab-mid) {
            width: 95vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: justify;
           
        }
        @include respond (tab-small) {
            flex-flow: column;
            width: 80vw;
        }

        &--box-1,
        &--box-2 {
            margin-bottom: 3rem;
            
            @include respond (tab-mid) {
               flex: 0 1 45%;
            }
        }
    }

    &__img {
        flex: 0 1 48%;        
        text-align: center;
        @include respond (tab-mid) {

            width: 40rem;
            margin-top: 2rem;
        }

        @include respond (tab-small) {
            flex-flow: column;
        }
       
        
    }    
    
    


}