.quality{
    
    &__text {
        @include respond (tab-mid) {
            width: 95vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: justify;
           
        }
        @include respond (tab-small) {
            flex-flow: column;
            width: 80vw;
            
        }

        &--box-1,
        &--box-2 {
            margin-bottom: 3rem;
            
            @include respond (tab-mid) {
               flex: 0 1 45%;
            }
        }
    }

    &__img {

        &--box-1,
        &--box-2 {
            text-align: center;
           padding-bottom: 10rem;
            
        }
        &--box-1{
            
        }
        &--box-2 {

        }
    }    
    
    &__text,
    &__img {
        flex: 0 1 45%;

        @include respond ( tab-ipad-portrait) {
            flex: 0 1 50%;
            
        }
    }


}