.service-square {
    position: relative;
    flex: 50%;
    transition: all .3s;

   

    &__overlay {
        position: absolute;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 2; 
    cursor: pointer; 
    }
    &:hover {
    transform: translateY(-5%) scale(1.1);
       z-index: 3;
    }

    &:hover &__overlay{
        display: block;
        border: .3 double $color-primary;
        
    }
    


    &__caption {
        @include absCenter;
        text-align: center;
        font-size: 2.2rem;
        z-index: 10;

        
       
    }
   
    

    
}