.service-square {
    position: relative;
    width: 50%;
    transition: all .3s;

    

    &__link {
        text-align: right;
        display:block;
        transition: all .3s;
        padding: 1rem;
        display: flex;
        flex-flow: column;

        
        
        &:link,
        &:visited{
            text-decoration: none;
            font-size: 2rem;
            font-weight: 400;
            color: $color-white;
        }
    }
    
    &:hover {
    transform: translateY(-10%);   
    }
    &:hover &__learn-more {
        transform: translateY(-1%);
       
    }
    &__img {
        z-index: 10;
        margin: 0;
        // box-shadow: 0 1.5re 4rem rgba($color-black, .15);
        
        &:hover {
            box-shadow: none;

        }
    
    }

    &__caption {
        position: absolute;
        bottom: 7rem;
        right: 1rem;
        text-align: right;
        padding-right: 1rem;
        font-size: 2rem;
        z-index: 10;
    }

    &__learn-more {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;
        color: $color-white;
        background-color: $color-primary;
        transform: translateY(-100%);
        transition: all .3s;
        padding: 1rem;
        
    }
    //----------------no hover query------------------------//
      
    @media only screen and (hover: none){
        &__learn-more {
            transform: translateY(0);

        }
        &:hover {
            transform: translateY(0);
        }

  }
    
}