body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey-3;
    
}

.heading-primary {
    backface-visibility: hidden;
        
    &--main {
        color: $color-white;
        font-size: 5rem;
        text-shadow: 0 .5rem .5rem $color-black;
    }

    &--sub {
        font-size: 4rem;
        color: $color-secondary;
        text-shadow: 0 .5rem .5rem $color-black;
        margin-bottom: .8rem;
        font-weight:400;
        
        

        @include respond (phone) {
            font-size: 3.5rem;
        }
    }
}

.heading-secondary {
    font-size: 4rem;
    color: $color-secondary;

    &--white {
        font-size: 3.5rem;
        color: $color-white;
    }
}

.heading-tertiary {
    font-size: 2rem;
    color: $color-primary;
    font-weight: 700;
    text-transform: uppercase;

    @include respond (tab-mid) {
        text-align: center;
    }
}
.paragraph{
    font-size: $default-font-size;
    text-emphasis: justify;
    
    &:not(:last-child) {
          margin-bottom: 3rem;
    }

    &--light{
        color: $color-light-grey-1;
    }
}

.tel-link,
.email-link,
.map-link {
    text-decoration: none;
    &:link,
    &:visited{
        

        &:hover .heading-primary--main,
        &:hover .paragraph{
            color: $color-secondary;
        }
    }
}
