




.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem;
    @include respond (tab-port) {
          margin-bottom: 3rem;
    }
}

.shadow {
    filter: drop-shadow(0 1rem .5rem  rgba($color-black, 0.5));

}

