.section-quality {
   padding: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    @include respond (tab-mid) {
        flex-flow: column;
        
        padding-top: 10rem;
        width: 75%;
        margin: 0 auto;
    }
}

.section-call-us {
    position: relative;
    height: 45vh;
    transform: skewY(-7deg);
    overflow: hidden;

    & > * {
        transform: skewY(7deg);
              
        }
   
   &__text-box {
    @include absCenter;
    transform: translate(-50%, -50%) skewY(7deg);
   }
}

.section-services {
    background-color: $color-dark-grey-3;
    padding: 30rem 10rem 10rem 10rem;
    
    margin-top: -18rem;
    
    .services {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        @include respond (tab-land) {
            flex-flow: wrap;
      }
    }

    & .btn-text {
        margin-top: 5rem;
    }
}


.section-multi-family {
    padding: 10rem;
    background-image: url(../img/dealerGoodman2.jpg);
    background-size: cover;

        & .paragraph {
            width: 45%;
        }
}

.section-get-started{
    padding: 10rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
}