.section-quality {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15rem 0 10rem 0;

    @include respond (tab-mid) {
        display: flex;
        flex-flow: column;
    }
    @include respond (tab-small) {
        padding-top: 5rem;
    }
    @include respond (phone) {
        padding-top: 2rem;
        margin: 8rem 0;
    }
    
}

.section-call-us {
    position: relative;
    height: 60vh;
    transform: skewY(-7deg);
    overflow: hidden;

    @include respond (tab-ipad) {
        height: 50vh
    }
    @include respond (tab-port) {
        height: 40vh
    }
    @include respond (phone) {
        height: 35vh
    }

    & > * {
        transform: skewY(7deg);
              
        }
   
   &__text-box {
    @include absCenter;
    transform: translate(-50%, -50%) skewY(7deg);
    
    & > .heading-primary--main {
        @include respond (phone) {
            font-size: 1rem;
        }
    }
    
   }
    
     
}

.section-services {
    background-color: $color-dark-grey-3;
    padding: 20rem 10rem 10rem 10rem;
    
    margin-top: -15rem;

    & > .btn-text:link,
    & > .bth-text:visited {
        margin-top: 10rem;
    }

    @include respond (tab-mid) {
        
    }
    
    .services {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

    }

    
}


.section-multi-family {
    padding: 10rem;
    background-image: url(../img/dealerGoodman2.jpg);
    background-size: cover;

        & .paragraph {
            width: 45%;
        }
}

.section-get-started{
    padding: 10rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
}