.section-quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    

    @include respond ( tab-ipad-portrait) {
        margin: 5rem 0;
        padding: 10rem 3rem 0rem 10rem;
    }

    @include respond (tab-mid) {
        display: flex;
        flex-flow: column;
        margin: 0;
        padding-top: 5rem;
        
    }

   
    
}

.section-call-us {
    position: relative;
    height: 30vh;
    width: 90vw;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 100% 20vh, 50% 100%, 0 20vh);
   

    @include respond (tab-ipad-portrait) {
        height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 15vh, 50% 100%, 0 15vh);
        
    }
    @include respond (tab-port) {
        height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 10vh, 50% 100%, 0 10vh);
        
    }

    @include respond (sm-phone) {
        height: 15vh;
    clip-path: polygon(0 0, 100% 0, 100% 10vh, 50% 100%, 0 10vh);
  
    }


    
   &__text-box {
    @include absCenter;
    text-align: center;

     

    & .heading-primary--main {
        
       

        @include respond (lg-phone){
            font-size: 4rem;
        }
        @media only screen and(max-width: 31.875em){
            font-size: 3rem;
        }
    @include respond (sm-phone) {
            font-size: 2.5rem;
           
        }
    }
   }
   
     
}

.section-services {
    background-color: $color-dark-grey-3;
    padding:30rem 10rem 10rem 10rem;
    
    margin-top: -18rem;

    
    @include respond (sm-phone) {
        padding:10rem;
    
        margin-top: -9rem;
    }
   
    
    .services {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-end;

        &--btn{
            margin-top: 20rem;

            @include respond (tab-small) {
                margin-top: 5rem;
            }
        }

    }

    
}


.section-multi-family {
    padding: 10rem;
    background-image: url(../img/dealerGoodman2.jpg);
    background-size: cover;

    @include respond (tab-ipad) {
        padding-left: 2rem;
    }

    @include respond (tab-small) {
        text-align: center;
        padding: 5rem 0;
    }

        & .paragraph {
            width: 45%;

            @include respond (tab-ipad) {
                width: 55%;
            }

            @include respond (tab-small) {
                width: 75%;
                margin: 0 auto;
            }
        }
}



